<!-- Mostra o resultado da votação na tela -->
<%% if @<%= base_name %>.show_result %>
	<!-- TODO: shows the result here  -->
	<div id="poll_result">
	<p>Poll partial results</p>
		<table>
		<%% for option in @<%= base_name %>.<%= base_name %>_options %>
			<tr>
				<td>
				<%%= option.content %> - <%%= option.num_resp %>
				</td>
			</tr>
		<%% end %>
	</table>
	</div>
<%% else %>
	<!-- TODO:I18n -->
	<p>Thank you for your vote</p>
<%% end %>
